<!-- <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
<!-- <input type="text" [(ngModel)]="find">
<button (click)="search()"> submit </button>
<div class="flex-container">
  <div *ngFor="let item of response">
    <div class="d-flex p-3 bg-secondary">
      <app-cards [item]="item.name"></app-cards>
    </div>
  </div>
 </div> -->

 <h2>Need Music? Search Here..</h2>
<input type="text" [(ngModel)]="find" placeholder="search" />
<button (click)="search()">search</button>






